<% provide(:title, "Sign Up") %>

<section class="UsersHeader">
    <div class="UsersHeader__logo">
        <%= image_tag 'kodeup-logo-medium2.png' %>
    </div>
</section>

<section class="UsersMain">
    
</section>