<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<section class="head">
    <div class="head__logo">
     <%= image_tag 'kodeup-logo-medium1.png' %>
    </div>

    <div class="head__nav">
        <a href="/login" >
            <div class="head__nav--login head--btns">
            Login
            </div>
        </a>

        <a href="/signup" >
            <div class="head__nav--signup head--btns">
            Sign Up
            </div>
        </a>
    </div>

    <div>
    <hr class="head__hr">
    </div>
</section>

<section class="main">
    <div class="main__title">
        From a beginner to <br>
        a professional.
    </div>

    <div class="main__text">
        KodeUP is the site for you. Designed to help you learn and build your<br>
        own software solutions. It also intends to help an intermidiate <br>
        programmer graduate to a professional developer through<br>
        intuitive sharing of knowledge via kodeups or blogs <br>
        developed by Authors.<br>
        Your can author your own kodeups or start by exploring existing ones. <br>
    </div>

    <div class="main__btn">
        Get Started
    </div>
</section>

<section class="footer">
    <div class="footer__text">
        &copy;2018 KodeUP. All rights reserved.
    </div>
</section>