
<section class="postsIndexHead">
    <div class="postsIndexHead__nav">
        <div class="postsIndexHead__nav--logo">
            <%= image_tag 'kodeup-logo-medium1' %>
        </div>

        <div class="postsIndexHead__nav--signout">
        Sign Out
        </div>
    </div>

    <div>
    <hr class="head__hr">
    </div>
</section>

<section class="postsIndexMain">
    <div  class="postsIndexMain__body">
        <table class="postsIndexMain__body--table">
        <table>
    </div>
</section>

<section class="postsIndexFooter">
    <div class="loginFooter__text">
        &copy;2018 KodeUP. All rights reserved.
    </div>
</section>