@import "color";

body {
    background-color: kodeup-color('background');
}


.head {
    display: inline-block;

    &__logo {
        width: 280px;
        height: 95px;
        padding: 0px;
        margin: 0px;
    }

    &__nav--login {
        border: 1px solid kodeup-color('primary');
    }

    &__nav--signup {
        border: 1px solid kodeup-color('primary');
    }

    &__hr {
        height: 27px;
        background-color: kodeup-color('secondary');
    }

}