// ErrorsFlash 
.ErrorsFlash {
    background-color: kodeup-color("error-bg");
    color: kodeup-color("error-fg");
    text-align: center;
    border: 1px solid kodeup-color("primary");
    border-radius: 5px;
}